<div class="container">

  <!-- lado izquierdo logo -->
  <div class="left">
    <div class="card">

      <div class="logo">
        <img src="iconos/flor.png" alt="flor">
      </div>

      <!-- nombre -->
      <h1>Drogueria Pili</h1>
      <p>SISTEMA DE GESTION</p>

    </div>
  </div>

  <!-- lado derecho login -->
  <div class="right">
    <div class="login-box">

      <h2>Ingresar al sistema</h2>

      <!-- form login -->
      <form (ngSubmit)="login()">

        <!-- usuario -->
        <div class="input-group">
          <label>Usuario</label>
          <input type="text" [(ngModel)]="username" name="username" placeholder="Ingrese su usuario" required />
        </div>

        <!-- contraseña -->
        <div class="input-group">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña" required />

          <!--AQUI ES DONDE APARECE EL MENSAJE DE ERROR DEBAJO DEL INPUT-->
          @if (errorCampos) {
          <p style="color:#0f0f0f; margin-top:5px; text-align: center;">
            *Campos obligatorios*
          </p>
          }

          @if (errorCredenciales) {
          <p style="color:#0f0f0f; margin-top:5px; text-align: center;">
            *Usuario o contraseña incorrectos*
          </p>
          }

        </div>

        <!-- boton -->
        <button type="submit">Ingresar</button>

        <!--ESTA PARTE SE AGREGO PARA QUE EL USUARIO PUEDA REGISTRARSE -->
        <p style="text-align:center; margin-top:10px;">
          ¿No tienes cuenta? <a routerLink="/register">Regístrate</a>
        </p>
      </form>
    </div>
  </div>

</div>