@if (mostrarLayout) {

  <!-- header con el menu principal -->
  <header class="header">

    <div class="logo"> 
    <h2>SISTEMA DROGUERÍA PILI</h2> 
  </div>

    <nav>
      <div class="LinksNav">
        <!-- links para navegar en la app -->
        <a class="btn-fondo" routerLink="/inventory" routerLinkActive="activo">Inventario</a>
        <a class="btn-fondo" routerLink="/sales" routerLinkActive="activo">Ventas</a>
        <a class="btn-fondo" routerLink="/purchases" routerLinkActive="activo">Compras</a>
        <a class="btn-fondo" routerLink="/reports" routerLinkActive="activo">Informes</a>
      </div>
    </nav>

    <div class="user">
    <span class="admin" (click)="irAlMenu()">Admin</span>
    <button class="salir" (click)="logout()">Salir</button>
  </div>

  </header>
}

<main>
  <!-- aqui se cargan las paginas -->
  <router-outlet></router-outlet>
</main>

@if (mostrarLayout) {
  <!-- footer de la pagina -->
  <footer class="footer">
    <p>© 2026 Droguería Pili Todos los derechos reservados</p>

    <!-- redes sociales -->
    <div class="social">
      <a href="https://www.instagram.com/tu-usuario">
        <img src="assets/Instagram.png" alt="Instagram">
      </a>
    </div>
  </footer>
}