@if (mostrarLayout) {

<header class="header">

  <!-- LOGO -->
  <div class="logo-container">

    <img src="iconos/flor.png" alt="logo">

    <div class="texto-logo">
      <h1>Droguería Pili</h1>
      <p>SISTEMA DE GESTIÓN</p>
    </div>

  </div>

  <nav>
    <div class="LinksNav">

      <a class="btn-fondo" routerLink="/inventory" routerLinkActive="activo">
        Inventario
      </a>

      <a class="btn-fondo" routerLink="/sales" routerLinkActive="activo">
        Ventas
      </a>

      <a class="btn-fondo" routerLink="/purchases" routerLinkActive="activo">
        Compras
      </a>

      <a class="btn-fondo" routerLink="/reports" routerLinkActive="activo">
        Informes
      </a>

    </div>
  </nav>

  <div class="user">

    <span class="admin" (click)="irAlMenu()">
      {{ textoUsuario }}
    </span>

    <button class="salir" (click)="logout()">
      Salir
    </button>

  </div>

</header>

}

<main>
  <router-outlet></router-outlet>
</main>

@if (mostrarLayout) {

<footer class="footer">

  <p>© 2026 Droguería Pili Todos los derechos reservados</p>

  <div class="social">
    <a href="https://www.instagram.com/tu-usuario">
      <img src="assets/Instagram.png" alt="Instagram">
    </a>
  </div>

</footer>

}